---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "About Me";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonLaptopGif" src="/blog.webp"/>
    </div>
    <h2>About Me</h2>
    <p>
        My name is Ash Hong, a senior at MIT pursuing Computer Science and Engineering. 
        My primary interests involve game development, 3D modeling, and website development. 
        I have experience with Python, Java, C#, C/C++, Assembly, HTML/CSS, Typescript and Verilog.
        My other hobbies include Dungeons & Dragons, narrative writing, and digital art. 
    </p>
    <p>
        Some of my other accomplishments and honors include:
    </p>
    <ul>
        <li class="aboutli">Webmaster for MIT E33 (2024-2025) </li>
        <li class="aboutli">Treasurer for MIT Game Development Guild (2024-Present) </li>
        <li class="aboutli">National Merit Finalist (2022) </li>
        <li class="aboutli">NCWIT Aspirations in Computing High School Award (2022)</li>
        <li class="aboutli">Arkansas Computer Science Students of Distinction (2022)</li>
        <li class="aboutli">Scholastic Art and Writing State Gold Key (2022)</li>
    </ul>

    
   
</Layout>

