---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Ash Hong</h1>
    <span class="badge">MIT Computer Science and Engineering</span>
    <h2>About</h2>
    <p>
        Hello! My name is Ash Hong, a junior at the Massachusetts Institute of Technology, 
        pursuing a B.S. in Computer Science and Engineering. Feel free to check out my portfolio
        or contact me at any of the links below!
    </p>
    <div class="center">
        <a href="/works/">
            <button class="btn">My Portfolio</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="skills center">
        <img class="skills__img" width="46" height="46" alt="C" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1200px-C_Programming_Language.svg.png"/>
        <img class="skills__img" width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"/>
        <img class="skills__img" width="46" height="46" alt="Python" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png"/>
        <img class="skills__img" width="46" height="46" alt="Blender" src="https://www.iconarchive.com/download/i98223/dakirby309/simply-styled/Blender.ico"/>
        <img class="skills__img" width="46" height="46" alt="Adobe Premiere Pro" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Adobe_Premiere_Pro_CC_icon.svg/788px-Adobe_Premiere_Pro_CC_icon.svg.png"/>
        <img class="skills__img" width="46" height="46" alt="CLIP STUDIO PAINT" src="https://static-00.iconduck.com/assets.00/apps-clip-studio-paint-icon-2048x2048-4pvfr7us.png"/>
    </div>
</Layout>

