---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="navbar">
    <div class="navbar__title">
        <a href="/">Ash Hong</a>
    </div>
    <div class="navbar__menu">
        <a href="/works/">Works</a>
        <a href="/about/">About Me</a>
        <ThemeIcon />
    </div>
</div>

